<div class="row center" ng-if="movimientos.length > 0">
    <div class="col s3 m3 l3"><h3>Movimientos</h3></div>
    <div class="col s3 m3 l3 hide-on-med-and-down" ><h5 >Ingresos</h5><span>{{getIngreso() | currency : '₡' : fractionSize}}</span></div>
    <div class="col s3 m3 l3 hide-on-med-and-down"><h5 >Egresos</h5><span class="red-text">{{getEgreso() | currency : '₡' : fractionSize}}</span></div>
    <div class="col s2 m2 l2 hide-on-med-and-down"><h5 >Neto</h5><span>{{getIngreso() - getEgreso() | currency : '₡' : fractionSize}}</span></div>
    <div class="col s1 m1 l1 hide-on-med-and-down">
        <h3><button class="btn waves-effect waves-light indigo darken-1 btn-floating" ng-click="toogleFilter()" name="action">
            <i class="material-icons left" ng-show="!filter">zoom_in</i>
            <i class="material-icons left" ng-show="filter">zoom_out</i>
        </button></h3>
    </div>
</div>

<div class="container" ng-show="filter">
    <div class="row">
            <h5 >Filtro</h5>
            <div class="input-field col s5 m5 l5">
                <datepicker date-format="MM/dd/yyyy" date-typer="true" >
                  <input ng-model="filter1" type="text" />
                </datepicker>
            </div>
            <div class="input-field col s5 m5 l5">
                <datepicker date-format="MM/dd/yyyy" date-typer="true" >
                  <input ng-model="filter2" type="text" />
                </datepicker>
            </div>
            
            <div class="input-field col s2 m2 l2" >
                <button class="btn waves-effect waves-light indigo darken-1 btn-floating" ng-click="filterRun()" name="action">
                    <i class="material-icons left">search</i>
                </button>
            </div>
            
        </div>
</div>

<h3 class="center" ng-if="movimientos.length === 0">Movimientos</h3>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-show="!addNew">
    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="addNewOn()">
      <i class="large material-icons">add</i>
    </a>
</div>

  <div class="row" ng-show="addNew">
    <form class="col s12" >
      <div class="row">
        <div class="input-field col s3 m3 l3">
          <input placeholder="Movimiento" id="movimiento" type="text"  ng-model="movimiento" class="validate">
        </div>
          
        <div class="input-field col s2 m2 l2">
          <input placeholder="Monto" id="monto" type="number"  ng-model="monto" min="0" class="validate">
        </div>
          
        <div class="input-field col s2 m2 l2">
            <datepicker date-format="MM/dd/yyyy" date-typer="true" >
              <input ng-model="fecha" type="text" />
            </datepicker>
        </div>
          
        <div class="input-field col s3 m3 l3" ng-if="!selectStatus && selectName != null">
          <p>Tipo: {{selectName}}      <a ng-click="cambiarSelect()">Cambiar</a></p>
        </div>
          
        <div class="input-field col s3 m3 l3" ng-if="selectStatus && selectName == null">
            <select ng-model="selectedTipo" ng-options="tipo.descripcion for tipo in tipos" 
                    ng-if="tipos" ng-selected="selectedTipo.descripcion == tipo.descripcion" ng-change="selectedTipoSel(selectedTipo)" >
            </select>
            <label>Tipo</label>
        </div>
          
        <div class="input-field col s2 m2 l2 center">
            <button class="btn waves-effect waves-light indigo darken-1 btn-floating" ng-click="addMovimiento()" name="action">
                <i class="material-icons left">done</i>
            </button>
            <button class="btn waves-effect waves-light red btn-floating" ng-click="addNewOff()" name="action">
                <i class="material-icons left">clear</i>
            </button>
        </div>

        </div>
      </div>
    </form>
  </div>
<br>
<table datatable="ng" dt-options="dtOptions">
        <thead>
            <tr>
                <th>#</th>
                <th>Descripcion</th>
                <th>Categoria</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="movimiento in movimientos">
                <td>{{$index + 1}}</td>
                <td>{{movimiento.movimiento}}</td>
                <td>{{movimiento.categoria}}</td>
                <td>{{movimiento.fecha | date:'MM/dd/yyyy'}}</td>
                <td ng-if="movimiento.tipo == 'Egreso'"><span class="red-text">{{movimiento.monto | currency : '₡' : fractionSize}}</span></td>
                <td ng-if="movimiento.tipo == 'Ingreso'"><span>{{movimiento.monto | currency : '₡' : fractionSize}}</span></td>
                <td><a ng-click="updateActivate(movimiento)"><i class="material-icons left">edit</i></a> <a ng-click="deleteRow(movimiento)"><i class="material-icons left">delete</i></a></td>
            </tr>
        </tbody>
    </table>
        